
@{
    ViewBag.Title = "Event";
}

@section scripts{
    @Scripts.Render("~/Scripts/xeditable.min.js") 
    @Scripts.Render("~/Client/EventContribution.js")
    @Styles.Render("~/Content/xeditable.css")
}
<div ng-app="EventContributionModule">    
    @Html.Partial("EventDetails", null)
    @Html.Partial("MyArea", null)
    @Html.Partial("EventContributions", null)
</div>