
<div id="bodyContainer">
    <section id="content">
        <div class="container">
            <div class="row">
                <div ng-controller="ContributionController as contCtrl" ng-init="contCtrl.getMyConts()">
                    <div class="alert-warning text-center">
                        @Html.Partial("Greetings", null)
                    </div>
                    <div id="myArea" ng-show="contCtrl.uiHelper.addMode" class="form-group-sm">
                        <table>
                            <tr>
                                <td>
                                    @Html.Partial("AddBook", null)
                                </td>
                                <td valign="top">
                                    @Html.Partial("MyContributions", null)
                                </td>
                            </tr>
                        </table>


                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    @Scripts.Render("~/Client/autocomplete.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
}
